.Button {
    width: max-content;
    height: 40px;
    border-radius: 1000px;
    background: #F96900;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    transition: transform .15s; /* extra */

    &:hover {
        background: #ED5D08;
        transform: scale(1.05); /* extra */
        transition: transform .5s /* extra */
    }
}

.light {
    width: 70px;
    height: 32px;
    border-radius: 1000px;
    background: #F3F3F7;
    color: #5C6370;
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: transform .15s; /* extra */

    &:hover {
        background: #F3F3F7;
        transform: scale(1.05); /* extra */
        transition: transform .5s /* extra */
    }
}

.secondary {
    width: 120px;
    height: 40px;
    border-radius: 1000px;
    background: #FFF0E6;
    color: #D15700;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: transform .15s; /* extra */

    &:hover {
        background: #FFD0B2;
        transform: scale(1.05); /* extra */
        transition: transform .5s /* extra */
    }
}