.ProductCard {
    width: 100%;
    height: auto;
    max-height: 425px;
}

.image{
    display: block;
    margin: 0 auto;
    width: 220px;
}

.name {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.Product {
    height: 200px;
    display: flex;
    flex-direction: column;

}

.description {
    color: var(--Gray-dark, #73798C);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0;
}

.cardBottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.price {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

