.header{
   
    display: flex;
    max-width: 1060px;
    margin: 15px auto;
    justify-content: space-between;

.navigation {
    a {
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-right: 15px;
        transition: all 0.25s ease-in;

        &:hover {
            color: #F96900;
        }
    }
}
.call{
    a{
        text-align: end;
        font-size: 18px;
        color: #000;
        text-decoration: none;
    }
    span{
        display: block;
        color: #999;
        font-size: 15px;
    }
}

}

