
@font-face {
  font-family: "Nunito";
  src: url("../src/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900; /* Указываем диапазон от 200 до 900 */
  font-style: normal;
  font-display: swap; /* Опционально для быстрой загрузки текста */
}

:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-x: clip;
}

body {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/*FIX*/

.slick-initialized .slick-slide:not(.slick-active) {
  opacity: 0.2;
}

.scrollbar {
  padding: 0 !important;

}
@media screen and (max-width: 576px) {
  .scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none; 
  }
  }
  .slick-list{
    padding: 0 2%;
  }
}
.slick-slide {
  width: 100%;
  max-width: 1275px;
}

h2 {
  font-size: 24px;
}
